.o-privacy-blur {
    /* Prevent selection of blurred text to prevent accidental copying of sensitive data */
    user-select: none;
}

.pb-1 { filter: blur(1px); }
.pb-2 { filter: blur(2px); }
.pb-3 { filter: blur(3px); }
.pb-4 { filter: blur(4px); }
.pb-5 { filter: blur(5px); }
.pb-6 { filter: blur(6px); }
.pb-8 { filter: blur(8px); }
.pb-10 { filter: blur(10px); }

/* Hover support */
.pb-hover:hover {
    filter: blur(0px) !important;
    user-select: auto !important;
}
